body{
  background-image: url("images/northern_1.jpg");
}

.App {
  
  max-width: 700px;
  margin: 0 auto;  
}

.App footer {
  text-align: center;
  font-size: 12px;
  color: white;
}
.App footer a{
  color:aqua;
}