.ForecastDetails{
    box-shadow:  0 3px 5px rgba(0, 0, 0, 0.5);
    border: rgb(134, 121, 121);
    border-radius: 4px;
    padding:3px;
       
}
 
@media (max-width: 950px){

    .ForecastDetails{
        margin-bottom: 35px;
        margin-top: 10px;
    }

   
    .WeatherForecast{
        font-size: 12px;
    }
}
    
